body{
    padding: 0%;
    margin-top: 0%;
    background-color: aqua;
}

.selector-for-some-widget {
    box-sizing: content-box;
  }

.logo{
    transform: translateX(-90px);
}

#navbarNav{
    transform: translateX(90px);
    font-family: Garamond;
    font-size: 20px;
}

.btn-outline-secondary{
    color: #cfc9c9;
}
